In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\admin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
filepath = 'C:\\Users\\admin\\Downloads\\LetsUpgade\\Assignment\\Day 7\\general_data.csv'
df = pd.read_csv(filepath)

In [3]:
#  To print all rows and columns without skipping
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
# Total null values present in each columns
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

__Filling the null value with forward fill method__

In [5]:
df.fillna(method= 'ffill', inplace= True)

In [6]:
df.isnull().sum().sum()

0

__4 columns have same values in each row. So we can drop them from our dataset__

In [7]:
drop_col = ['EmployeeCount', 'EmployeeID', 'Over18', 'StandardHours']
df.drop(drop_col, axis= 1, inplace= True)
df.shape

(4410, 20)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4410 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4410 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(11), object(7)
memory usage: 689.2+ KB

In [9]:
df.drop_duplicates()
df.shape

(4410, 20)

In [10]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4

In [31]:
df.JobRole.value_counts()

Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: JobRole, dtype: int64

# Apply Non-Parametric Test on data

# Compare 2 Paired sample

We have to check 

Ho : There is a significance relation between Monthly Income for Attrition(Y) and Attrition(N).

Ha : There is a no significance relation between Monthly Income for Attrition(Y) and Attrition(N).

In [11]:
from scipy.stats import wilcoxon

In [12]:
att_yes = df.loc[df.Attrition == 'Yes'][:700]
att_no = df.loc[df.Attrition == 'No'][:700]
stats , p = wilcoxon(att_yes.MonthlyIncome, att_no.MonthlyIncome)
print(stats,';', p)

115598.5 ; 0.18610165434641057

__p- value is 0.18 which is greater than 0.05__

__So, we Accept Ho (Null hypothesis)__

__Which means There is a significance relation between Monthly Income for Attrition(Y) and Attrition(N).__

now check for :

Ho : There is a significance relation between Job level for Attrition(Y) and Attrition(N).

Ha : There is no significance relation between Job level for Attrition(Y) and Attrition(N).

In [26]:
stats , p = wilcoxon(att_yes.JobLevel, att_no.JobLevel)
print(stats,';', p)

54181.0 ; 0.8079967732236404

p - Value is greater than 0.05 

So, we accept Ho

Which means There is a significance relation between Job level for Attrition(Y) and Attrition(N).

# When we have more than 2 Paired Samples

__Now check for:__

__Ho : There is a significance relation between Total Working Years for Job level (1) , (2) and (3)__

__Ha : There is no significance relation between Total Working Years for Job level (1) , (2) and (3)__

In [13]:
from scipy.stats import friedmanchisquare

In [34]:
JL1 = df.loc[(df.JobLevel == 1)][:650]
JL2 = df.loc[(df.JobLevel == 2)][:650]
JL3 = df.loc[(df.JobLevel == 3)][:650]
                               
                               
stats , p = friedmanchisquare(JL1.TotalWorkingYears, JL2.TotalWorkingYears, JL3.TotalWorkingYears)
print(stats, p)

0.7495974235107922 0.6874276359678045

p-value is greater than 0.05.

So, we accept Ho.

which means,  There is a significance relation between Total Working Years for Job level (1) , (2) and (3)

# Compare 2 Independent columns

We have to check

Ho : There is a significance relation between Education Field and Job Role.

Ha : There is not any significance relation between Education Field and Job Role.

In [15]:
from scipy.stats import mannwhitneyu

In [21]:
stats , p = mannwhitneyu(df.EducationField, df.JobRole)
print(stats, ';' , p)

8566884.0 ; 8.531789873710365e-23

p-value is less than 0.05.

So, we reject Ho.

 It means, There is no significance relation between Education Field and Job Role

# Compare more than 2 independent samples

check:
    
Ho : There is a significance relation between Monthly income , Percent Salary hike and Training time Last year.

Ha : there is no significance relation between Monthly income , Percent Salary hike and Training time Last year.

In [17]:
from scipy.stats import kruskal

In [20]:
stats, p = kruskal(df.MonthlyIncome, df.PercentSalaryHike, df.TrainingTimesLastYear)
print(stats, ':', p)

13716.258937388373 : 0.0

__As the P value is again 0.0, which is < than 0.05, the H0 is rejected and ha is accepted.__

so, there is no significance relation between Monthly income , Percent Salary hike and Training time Last year.

check:
    
Ho : There is a significance relation between Monthly income , Percent Salary hike , Training time Last year and distance from home.

Ha : there is no significance relation between Monthly income , Percent Salary hike , Training time Last year and distance from home.

In [35]:
stats, p = kruskal(df.MonthlyIncome, df.PercentSalaryHike, df.TrainingTimesLastYear, df.DistanceFromHome)
print(stats, ':', p)

13716.258937388373 : 0.0

__As the P value is again 0.0, which is < than 0.05, the H0 is rejected and ha is accepted.__

so, there is no significance relation between Monthly income , Percent Salary hike , Training time Last year and Distance from home.